[submodule "config/nvim/plugged/LuaSnip"]
	path = config/nvim/plugged/LuaSnip
	url = https://github.com/L3MON4D3/LuaSnip
[submodule "config/nvim/plugged/catppuccin"]
	path = config/nvim/plugged/catppuccin
	url = https://github.com/catppuccin/nvim.git
[submodule "config/zsh/oh-my-zsh"]
	path = config/zsh/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
